.custom-swiper {
    overflow: visible;
  }
  
  .custom-slide {
    height: 275px; /* Adjust the width of smaller slides */
    width: 275px;
  }
  
  .custom-slide.swiper-slide-active {
    height: 300px; /* Adjust the width of the center slide */
    width: 300px;
  }
  